@import ../../../styles/helpers

.section
    +d
        margin-bottom: 96px
    +m
        margin-bottom: 64px

.container
    max-width: 1440px
    +w
        padding: 0 40px
    +t
        padding: 0
    +m
        padding: 0 8px

.preview
    position: relative
    &:before
        content: ""
        display: block
        padding-bottom: 60.63%
        +d
            padding-bottom: 64%
        +m
            display: none
    img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 24px
        object-fit: cover
        +t
            border-radius: 0
        +m
            position: static
            height: 500px
            border-radius: 16px 16px 0 0
            object-position: 50% 100%

.wrap
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 145px 80px
    +d
        padding: 98px 80px
    +t
        padding: 80px 40px
    +m
        padding: 60px 32px
        text-align: center

.title
    font-weight: 900
    max-width: 650px
    line-height: 1.2em
    margin-bottom: 16px
    +dark
        color: $n7
    +m
        min-height: fit-content
        font-size: 42px

@keyframes focus-in-contract 
	0% 
		letter-spacing: 0.1em
		filter: blur(12px)
		opacity: 0.1
	100% 
		filter: blur(0)
		opacity: 1

.info
    margin-bottom: 24px
    font-size: 18px
    color: $n6
    +w
        font-size: 16px
    +d
        font-size: 16px
    +m
        display: none

.panel
    margin: -175px 80px 0
    +w
        margin: -175px 40px 0
    +d
        margin-top: -148px
    +t
        margin: -110px 16px 0
    +m
        margin: -230px 8px 0

.body
    margin-top: 32px
    +d
        margin-top: 24px

.controls
    display: flex
    margin-bottom: 16px
    +m
        flex-wrap: wrap
.button
    font-size: 14px
    +m
        margin-bottom: 12px
        padding: 0 24px
    &:not(:last-child)
        margin-right: 16px
        +m
            margin-right: 8px
    &.active
        box-shadow: inset 0 0 0 2px $n6
        background: $n6
        color: $n2
    &:hover
        background: darken($p1, 5)


.row
    display: flex
    padding-right: 100px
    +x
        margin: 0 -20px
        padding-right: 90px
    +t
        margin: 0
        padding-right: 70px
    +m
        flex-wrap: wrap
        padding-right: 0
    & > div
        &:first-child,
        &:nth-child(2)
            flex: 0 0 248px
            +x
                flex: 0 0 225px
            +d
                flex: 0 0 200px
            +t
                flex: 0 0 170px
            +m
                flex: 0 0 50%
        &:nth-child(3)
            flex-grow: 1

.search
    position: absolute
    top: 50%
    right: 20px
    width: 64px
    height: 64px
    transform: translateY(-50%)
    background: $p1
    border-radius: 50%
    transition: background .2s
    +x
        right: 0
    +d
        width: 56px
        height: 56px
    +t
        top: auto
        bottom: 2px
        transform: translateY(0)
    +m
        position: relative
        width: 100%
        height: 48px
        margin-top: 12px
        border-radius: 24px
    svg
        fill: $n8
    &:hover
        background: darken($p1, 5)

.animation
    margin-top: -32px
    +m
        margin-top: 12px
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both



@-webkit-keyframes shake-horizontal 
  0%,
  100% 
    -webkit-transform: translateX(0)
            transform: translateX(0)
  
  10%,
  30%,
  50%,
  70% 
    -webkit-transform: translateX(-10px)
            transform: translateX(-10px)
  
  20%,
  40%,
  60% 
    -webkit-transform: translateX(10px)
            transform: translateX(10px)
  
  80% 
    -webkit-transform: translateX(8px)
  
  90% 
    -webkit-transform: translateX(-8px)
            transform: translateX(-8px)
  
@keyframes shake-horizontal 
  0%,
  100% 
    -webkit-transform: translateX(0)
            transform: translateX(0)
  
  10%,
  30%,
  50%,
  70% 
    -webkit-transform: translateX(-10px)
            transform: translateX(-10px)
  
  20%,
  40%,
  60% 
    -webkit-transform: translateX(10px)
            transform: translateX(10px)
  
  80% 
    -webkit-transform: translateX(8px)
            transform: translateX(8px)
  
  90% 
    -webkit-transform: translateX(-8px)
            transform: translateX(-8px)
  

.globe 
  background: #ffffffc9
  border: 0px solid #000000
  border-radius: 50%
  overflow: hidden
  display: inline-block
  margin-left: 10px    
  width: 22px
  height: 22px
  svg 
    animation: rotation2 7s linear infinite
    width: 0.75em
    height: -1em
    display: inline

    path 
      stroke: $n2
      fill: $n2


@keyframes rotation2 
  from 
    margin-left: -0.7em
  to 
    margin-left: 0.3em
